GOOGLE_CLIENT_ID=598745483329-gb2pgn9501chlj61nlaa64250fq91ghl.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/oauth2callback
TRANSPORT=stdio
PORT=3000

{"web":{"client_id":"598745483329-gb2pgn9501chlj61nlaa64250fq91ghl.apps.googleusercontent.com","project_id":"crested-photon-489208-f1","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"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","redirect_uris":["http://localhost:3000/oauth2callback"]}}